# QUE2. PROBLEM STATEMENT 2

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r'C:\Users\priya\Downloads\Customer Data.csv')

In [3]:
data

    ID   Age   Income  Gender Marital Status Buys
0    1    <21    High    Male         Single   No
1    2    <21    High    Male        Married   No
2    3  21-35    High    Male         Single  Yes
3    4    >35  Medium    Male         Single  Yes
4    5    >35     Low  Female         Single  Yes
5    6    >35     Low  Female        Married   No
6    7  21-35     Low  Female        Married  Yes
7    8    <21  Medium    Male         Single   No
8    9    <21     Low  Female        Married  Yes
9   10    >35  Medium  Female         Single  Yes
10  11    <21  Medium  Female        Married  Yes
11  12  21-35  Medium    Male        Married  Yes
12  13  21-35    High  Female         Single  Yes
13  14    >35  Medium    Male        Married   No

In [4]:
data.describe()

            ID
count  14.0000
mean    7.5000
std     4.1833
min     1.0000
25%     4.2500
50%     7.5000
75%    10.7500
max    14.0000

In [5]:
data.shape

(14, 6)

In [6]:

X=data.iloc[:,:-1]
y=data.iloc[:,5].values

In [8]:

data['Buys'].value_counts()

Yes    9
No     5
Name: Buys, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder();

x=data.iloc[:,:-1] 
x=x.apply(le.fit_transform)

print("Age with encodd value :",list( zip(data.iloc[:,0], x.iloc[:,0])))
print("\nIncome with encoded value :",list( zip(data.iloc[:,1], x.iloc[:,1])))
print("\nGender with encoded value :",list( zip(data.iloc[:,2], x.iloc[:,2])))
print("\nmaritialStatus with encoded value :",list( zip(data.iloc[:,3], x.iloc[:,3])))

Age with encodd value : [(1, 0), (2, 1), (3, 2), (4, 3), (5, 4), (6, 5), (7, 6), (8, 7), (9, 8), (10, 9), (11, 10), (12, 11), (13, 12), (14, 13)]

Income with encoded value : [('<21', 1), ('<21', 1), ('21-35', 0), ('>35', 2), ('>35', 2), ('>35', 2), ('21-35', 0), ('<21', 1), ('<21', 1), ('>35', 2), ('<21', 1), ('21-35', 0), ('21-35', 0), ('>35', 2)]

Gender with encoded value : [('High', 0), ('High', 0), ('High', 0), ('Medium', 2), ('Low', 1), ('Low', 1), ('Low', 1), ('Medium', 2), ('Low', 1), ('Medium', 2), ('Medium', 2), ('Medium', 2), ('High', 0), ('Medium', 2)]

maritialStatus with encoded value : [('Male', 1), ('Male', 1), ('Male', 1), ('Male', 1), ('Female', 0), ('Female', 0), ('Female', 0), ('Male', 1), ('Female', 0), ('Female', 0), ('Female', 0), ('Male', 1), ('Female', 0), ('Male', 1)]

In [10]:
#Store labels in Y
y=data.iloc[:,-1]

In [11]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy')
classifier.fit(x,y)

DecisionTreeClassifier(criterion='entropy')

In [12]:

test_x=np.array([1,1,0,0,0])
pred_y=classifier.predict([test_x])
print("Predicted class for input [Age < 21, Income = Low,Gender = Female, Marital Status = Married]\n", test_x," is ",pred_y[0])

Predicted class for input [Age < 21, Income = Low,Gender = Female, Marital Status = Married]
 [1 1 0 0 0]  is  No

In [13]:
Buys = []
for i in range(0, 14):
     Buys.append([str(data.values[i,j]) for j in range(0, 6)])

In [14]:

from apyori import apriori
rules=apriori(Buys=Buys, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length=2, max_length=2)

TypeError: apriori() missing 1 required positional argument: 'transactions'

In [ ]:
from matplotlib import pyplot as plt

from sklearn.tree import DecisionTreeClassifier 
from sklearn import tree

In [ ]:

clf = DecisionTreeClassifier(random_state=1234)
model = clf.fit(X, y)

In [ ]:
fig = plt.figure(figsize=(5,10))
export_DecisionTreeClassifier,out_file=("data.dot",feature_names=x.columns,class_names=["No","Yes"],filled=True)